div.table-responsive-lg {
    width: 100%;
/*    height: 300px;*/
    overflow: auto;
    display: block;
}
table.table-design {
    margin-bottom: 0!important;
    border-collapse: collapse!important;
    border-bottom: 1px solid #e4eaec;
    
}
table.table-design thead th{
    white-space: nowrap;text-align: center;vertical-align: middle;
    border: 1.5px solid #e4eaec;padding: 5px 10px;
}
table.table-design tbody td{white-space: nowrap;}

table.table-design:not(.table-condensed)>tbody>tr>td{
    padding: 8px;
    border: 1.5px solid #e4eaec;
}
table.table-design tbody td:first-child {border-left: 1.5px solid #e4eaec;}
table.table-design tbody td:last-child {border-right: 1.5px solid #e4eaec;}

table.table-design .Ip-asli{color: #42a5f5;}
table.table-design .level1{color: #66bb6a;}
table.table-design .level2{color: #42a5f5;}
table.table-design .level3{color: #ffa726;}
table.table-design .level4{color: #e53935 ;}
table.table-design .index-pres{background-color: rgba(227, 242, 253, 0.6);}
table.table-design .index-pres{border: 2px solid #e4eaec !important;}

table.table-design thead th.hanzo{position: relative;}
table.table-design thead th.hanzo span{
    font-size: 10px;
    position: absolute;
}

    table.striped tr {
      border-bottom: none;
    }

    table.striped > tbody > tr:nth-child(odd) {
      background-color: rgba(242, 242, 242, 0.5);
    }

    table.striped > tbody > tr > td {
      border-radius: 0;
      font-weight: 500;
    }
    table.striped > tbody > tr > td input{
      font-weight: 500;font-size: 13px;
    }
    table.highlight > tbody > tr {
      -webkit-transition: background-color .25s ease;
      transition: background-color .25s ease;
    }